<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SiwBooks</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- Aggiorna al percorso corretto -->
</head>
<body>

<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a th:if="${isAdmin}" th:href="@{'/'}" th:text="'SiwBooks - Admin'"></a>
      <a th:if="${!isAdmin}" th:href="@{'/'}" th:text="'SiwBooks'"></a>
    </div>
    <ul class="navbar-menu">
      <li class="navbar-item"><a th:href="@{'/libro'}">Libri</a></li>
      <li class="navbar-item"><a th:href="@{'/autore'}">Autori</a></li>
      <li class="navbar-item">
        <a th:if="${isAnonymous}" th:href="'/login'" th:text="'Login'"></a>
        <a th:if="${!isAnonymous}" th:href="'/logout'" th:text="${username} + ' - Logout'"></a>
      </li>
    </ul>
  </div>
</nav>

<header>
  <h1 th:text="${isSearch} == true ? 'Risultati della ricerca: ' + ${searchQuery} : 'Elenco Autori'">Elenco Autori</h1>
</header>


<main>
  <!-- Form di ricerca -->
  <section id="search">
    <form th:action="@{/autore/search}" method="get">
      <input type="text" name="query" placeholder="Cerca per nome o cognome..." th:value="${searchQuery}"/>
      <button type="submit">Cerca</button>
    </form>
    <div th:if="${autori.size() == 0}">
      <h3>Non ci sono autori corrispondenti alla tua ricerca.</h3> <!-- Mostra se non ci sono risultati -->
    </div>
  </section>

  <!-- Lista degli Autori -->
  <section id="autori">
    <div class="container">
      <!-- Ciclo Thymeleaf per visualizzare tutti gli autori -->
      <div class="card" th:each="autore : ${autori}">

        <!-- ADMIN: Pulsante di rimozione in alto a destra -->
        <form th:if="${isAdmin}" th:action="@{'/admin/deleteAutore/' + ${autore.id}}" method="post" th:object="${autore}" style="position: absolute; top: 10px; right: 10px;">
          <button
                  class="crossButton"
                  type="submit"
                  onclick="return confirm('Sei sicuro di voler eliminare questo autore?')">
            &times;
          </button>
        </form>

        <a th:href="@{'/autore/' + ${autore.id}}" class="link">
          <!-- Visualizza l'immagine dell'autore -->
          <div class="image-container" th:if="${autore.immagine != null}">
            <img th:src="@{'/images/' + ${autore.immagine}}" th:alt="Immagine"/>
          </div>

          <h2 th:text="${autore.nome + ' ' + autore.cognome}">Nome Cognome</h2>
          <p>
            Nazionalità: <span th:text="${autore.nazionalita}">Nazionalità</span>
          </p>
          <p th:if="${autore.dataNascita}">
            Nato il: <span th:text="${autore.dataNascita}">Data di nascita</span>
          </p>
          <p th:if="${autore.dataMorte}">
            Morto il: <span th:text="${autore.dataMorte}">Data di morte</span>
          </p>
        </a>
      </div>

      <!-- Mostra tutti gli autori post ricerca -->
      <div class="card" th:if="${isSearch}">
        <a th:href="@{/autore}" class="link">
          <h2>Mostra tutti gli autori</h2>
          <p>Clicca qui per esplorare l'intera biblioteca</p>
        </a>
      </div>

      <!-- ADMIN: Tasto per aggiungere un nuovo autore -->
      <div th:if="${isAdmin}" class="card">
        <a th:href="@{/admin/formNewAutore}" class="link">
          <h2>Aggiungi un nuovo autore</h2>
          <p>Clicca qui per aggiungere un nuovo autore</p>
        </a>
      </div>
    </div>
  </section>
</main>

<footer>
  <p>© 2025 SiwBooks - Tutti i diritti riservati</p>
</footer>
</body>
</html>
