<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SiwBooks</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a th:if="${isAdmin}" th:href="@{'/'}" th:text="'SiwBooks - Admin'"></a>
      <a th:if="${!isAdmin}" th:href="@{'/'}" th:text="'SiwBooks'"></a>
    </div>
    <ul class="navbar-menu">
      <li class="navbar-item"><a th:href="@{'/libro'}">Libri</a></li>
      <li class="navbar-item"><a th:href="@{'/autore'}">Autori</a></li>
      <li class="navbar-item">
        <a th:if="${isAnonymous}" th:href="'/login'" th:text="'Login/Registrati'"></a>
        <a th:if="${!isAnonymous}" th:href="'/logout'" th:text="'Logout'"></a>
      </li>
      <li th:if="${!isAnonymous}" class="navbar-item"><a th:href="@{'/user'}" th:text="${username}"></a></li>
    </ul>
  </div>
</nav>

<header>
  <h1>Nuova Recensione</h1>
</header>

<section id="formLogin">
  <h2>Aggiungi una recensione per il libro: <span th:text="${libro.titolo}">Titolo libro</span>
  </h2>
  <form th:action="@{/recensione/add}" method="POST" th:object="${recensione}">
    <input type="hidden" name="libroId" th:value="${libro.id}"/>
    <div>
      <label for="titolo">Titolo:</label>
      <input type="text" id="titolo" required th:field="${recensione.titolo}" placeholder="Inserisci il titolo">
    </div>
    <div>
      <label for="voto">Voto:</label>
      <input type="number" id="voto" required th:field="${recensione.voto}" min="1" max="5" placeholder="Valuta da 1 a 5">
    </div>
    <div>
      <label for="testo">Recensione:</label>
      <textarea id="testo" required th:field="${recensione.testo}" placeholder="Scrivi la tua recensione"></textarea>
    </div>
    <div>
      <span th:if="${messaggioErrore != null}" th:text="${messaggioErrore}"} style="color:red;">Recensione già inserita.</span>
    </div>
    <div>
      <button type="submit">Aggiungi Recensione</button>
      <a th:href="@{'/libro/' + ${libro.id}}" class="link"><button type="button">Indietro</button></a>
    </div>
  </form>
</section>
<footer>
  <p>© 2025 SiwBooks - Tutti i diritti riservati</p>
</footer>
</body>
</html>