<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SiwBooks</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a th:href="@{'/'}">SiwBooks</a>
    </div>
    <ul class="navbar-menu">
      <li class="navbar-item"><a th:href="@{'/libro'}">Libri</a></li>
      <li class="navbar-item"><a th:href="@{'/autore'}">Autori</a></li>
      <li class="navbar-item">
        <a th:href="${#authentication.authenticated} ? '/logout' : '/login'"
           th:text="${#authentication.authenticated} ? 'Logout' : 'Login'">
        </a>
      </li>

    </ul>
  </div>
</nav>

<header>
  <h1>Nuova Recensione</h1>
</header>

<section id="formLogin">
  <h2>Aggiungi una recensione per il libro: <span th:text="${libro.titolo}">Titolo libro</span>
  </h2>
  <form th:action="@{/recensione/add}" method="POST" th:object="${recensione}">
    <div>
      <label for="titolo">Titolo:</label>
      <input type="text" id="titolo" th:field="*{recensione.titolo}" placeholder="Inserisci il titolo">
      <span th:if="${#fields.hasErrors('titolo')}" th:errors="*{recensione.titolo}" class="error"></span>
    </div>
    <div>
      <label for="voto">Voto:</label>
      <input type="number" id="voto" th:field="*{recensione.voto}" min="1" max="5" placeholder="Valuta da 1 a 5">
      <span th:if="${#fields.hasErrors('voto')}" th:errors="*{recensione.voto}" class="error"></span>
    </div>
    <div>
      <label for="testo">Recensione:</label>
      <textarea id="testo" th:field="*{recensione.testo}" placeholder="Scrivi la tua recensione"></textarea>
      <span th:if="${#fields.hasErrors('testo')}" th:errors="*{recensione.testo}" class="error"></span>
    </div>

    <div>
      <button type="submit">Aggiungi Recensione</button>
      <a th:href="@{/libro/${libro.id}}" class="link"><button type="button">Indietro</button></a>
    </div>
  </form>
</section>
<footer>
  <p>© 2025 SiwBooks - Tutti i diritti riservati</p>
</footer>
</body>
</html>