<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SiwBooks</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <h1>Benvenuto su SiwBooks</h1>
    <p>Scopri i tuoi libri e autori preferiti!</p>
  </header>
  
  <nav>
    <ul>
      <li><a href="#libri">Libri</a></li>
      <li><a href="#autori">Autori</a></li>
    </ul>
  </nav>
  
  <main>
    <section id="libri">
      <h2>Libri in evidenza</h2>
      <div class="carousel">
        <!-- Ciclo Thymeleaf per i libri -->
        <div class="carousel-item" th:each="libro : ${libri}">
          <a th:href="@{'/libro/' + ${libro.id}}" class="link">
          <h3 th:text="${libro.titolo}">Titolo</h3>
          <p>
            di 
            <span th:each="autore : ${libro.autori}" th:text="${autore.nome + ' ' + autore.cognome}">Autore</span>
          </p>
          <p>Anno: <span th:text="${libro.annoPubblicazione}">Anno Pubblicazione</span></p>
          </a>
        </div>
        <!-- Elemento finale: Mostra Altro -->
        <div class="carousel-item mostra-altro">
          <a th:href="@{'/libro'}" class="link">
            <h3>Mostra più libri</h3>
            <p>Clicca qui per esplorare l'intera biblioteca</p>
          </a>
        </div>
      </div>
    </section>
    
    <section id="autori">
      <h2>Autori popolari</h2>
        <div class="carousel">
         <!-- Ciclo Thymeleaf per gli autori -->
          <div class="carousel-item" th:each="autore : ${autori}">
            <a th:href="@{'/autore/' + ${autore.id}}" class="link">
            <h3 th:text="${autore.nome + ' ' + autore.cognome}">Nome Cognome</h3>
            <p>
              Nazionalità: <span th:text="${autore.nazionalita}">Nazionalità</span>
            </p>
            <p th:if="${autore.dataNascita}">
              Nato il: <span th:text="${autore.dataNascita}">Data Nascita</span>
            </p>
            <p th:if="${autore.dataMorte}">
              Morto il: <span th:text="${autore.dataMorte}">Data Morte</span>
            </p>
            </a>
          </div>
          <!-- Elemento finale: Mostra Altro -->
          <div class="carousel-item mostra-altro">
            <a th:href="@{'/autore'}" class="link">
              <h3>Mostra più autori</h3>
              <p>Clicca qui per esplorare l'intera biblioteca</p>
            </a>
          </div>
        </div>
    </section>
  </main>
  
  <footer>
    <p>&copy; 2025 SiwBooks. Tutti i diritti riservati.</p>
  </footer>
</body>
</html>