<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SiwBooks</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- Aggiorna al percorso corretto -->
</head>
<body>

<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-logo">
            <a th:href="@{'/'}">SiwBooks</a>
        </div>
        <ul class="navbar-menu">
            <li class="navbar-item"><a th:href="@{'/libro'}">Libri</a></li>
            <li class="navbar-item"><a th:href="@{'/autore'}">Autori</a></li>
            <li class="navbar-item">
                <a th:href="${#authentication.authenticated} ? '/logout' : '/login'"
                   th:text="${#authentication.authenticated} ? 'Logout' : 'Login'">
                </a>
            </li>

        </ul>
    </div>
</nav>

<header>
    <h1 th:text="${isSearch} == true ? 'Risultati della ricerca: ' + ${searchQuery} + ' ('+${libri.size()}+')': 'Elenco Libri'">Elenco Libri</h1>
</header>

<main>
    <!-- Form di ricerca -->
    <section id="search">
        <form th:action="@{/libro/search}" method="get">
            <input type="text" name="query" placeholder="Cerca per titolo..." th:value="${searchQuery}"/>
            <button type="submit">Cerca</button>
        </form>
        <div th:if="${libri.size() == 0}">
            <h3>Non ci sono libri corrispondenti alla tua ricerca.</h3> <!-- Mostra se non ci sono risultati -->
        </div>
    </section>
        <section id="libri">
            <div class="container">
                <!-- Ciclo Thymeleaf per visualizzare tutti i libri -->
                <div class="card" th:each="libro : ${libri}">
                    <a th:href="@{'/libro/' + ${libro.id}}" class="link">
                        <h2 th:text="${libro.titolo}">Titolo del libro</h2>
                    <p>
                        Pubblicato nel: <span th:text="${libro.annoPubblicazione}">Anno</span>
                    </p>
                    <p>Autori: <span th:text="${libro.autoriString}">Elenco Autori</span></p>
                    </a>
                </div>

                <!-- Mostra tutti i libri post ricerca -->
                <div class="card" th:if="${isSearch}">
                    <a th:href="@{/libro}" class="link">
                        <h2>Mostra tutti i libri</h2>
                        <p>Clicca qui per esplorare l'intera biblioteca</p>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>© 2025 SiwBooks - Tutti i diritti riservati</p>
    </footer>
</body>
</html>