<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SiwBooks</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a th:if="${isAdmin}" th:href="@{'/'}" th:text="'SiwBooks - Admin'"></a>
      <a th:if="${!isAdmin}" th:href="@{'/'}" th:text="'SiwBooks'"></a>
    </div>
    <ul class="navbar-menu">
      <li class="navbar-item"><a th:href="@{'/libro'}">Libri</a></li>
      <li class="navbar-item"><a th:href="@{'/autore'}">Autori</a></li>
      <li class="navbar-item">
        <a th:if="${isAnonymous}" th:href="'/login'" th:text="'Login/Registrati'"></a>
        <a th:if="${!isAnonymous}" th:href="'/logout'" th:text="'Logout'"></a>
      </li>
      <li th:if="${!isAnonymous}" class="navbar-item"><a th:href="@{'/user'}" th:text="${username}"></a></li>
    </ul>
  </div>
</nav>

<header>
  <h1>Registrazione Completata</h1>
</header>

<section id="registrazioneCompletata">
  <h1>Congratulazioni ti sei registrato!</h1>
  <div>
    <span>Nome: </span>
    <span th:text="${user.name}"></span>
  </div>
  <div>
    <span>Cognome: </span>
    <span th:text="${user.surname}"></span>
  </div>
  <div>
    <span>Email: </span>
    <span th:text="${user.email}"></span>
  </div>
</section>

<footer>
  <p>© 2025 SiwBooks - Tutti i diritti riservati</p>
</footer>
</body>
</html>